/* UNDER REVIEW STARTING...*/

.underReview{
  background-color: #ffffbb;
  border-radius: 4px;
  padding: 3px 3px;
  text-align: center;
}

.approved{
  background-color: #d5ffca;
  border-radius: 4px;
  padding: 3px 3px;
  text-align: center;
}

.dis-approved{
  background-color: #ffe6dc;
  border-radius: 4px;
  padding: 3px 3px;
  text-align: center;
}

.draft{
  background-color: #deebff;
  border-radius: 4px;
  padding: 3px 3px;
  text-align: center;
}

.small-btn {
  padding: 1px 7px; /* smaller size */
  font-size: 11px;   /* agar text chhota chahiye */
  min-width: auto;   /* Angular Material ka default min-width override */
}

.blink-dot-underReview {
  font-size: 1rem; /* size increase, adjust as needed */
  color: #ffc107; /* Bootstrap warning yellow */
  text-shadow: 0 0 8px rgba(255, 193, 7, 0.8); /* soft glow */
  animation: blinkUnderreview 1.5s infinite ease-in-out;
}

/* APPROVED STARTING...*/
/* BLINK DOT APPROVED */
.blink-dot-approved {
  font-size:1rem; /* size increase, adjust as needed */
  color: #09fb19; /* Bootstrap warning yellow */
  text-shadow: 0 0 8px rgba(7, 248, 15, 0.8); /* soft glow */
  animation: blinkApproved 1.5s infinite ease-in-out;
}

.blink-dot-approved {
  font-size: 1rem; /* size increase, adjust as needed */
  color: #2df113; /* Bootstrap warning yellow */
  text-shadow: 0 0 8px rgba(24, 231, 35, 0.8); /* soft glow */
  animation: blinkUnderreview 1.5s infinite ease-in-out;
}

.blink-dot-dis-approved {
  font-size: 1rem; /* size increase, adjust as needed */
  color: #dd5602; /* Bootstrap warning yellow */
  text-shadow: 0 0 8px rgba(212, 89, 6, 0.8); /* soft glow */
  animation: blinkUnderreview 1.5s infinite ease-in-out;
}

.blink-dot-draft{
  font-size: 1rem; /* size increase, adjust as needed */
  color: #4f0ec8; /* Bootstrap warning yellow */
  text-shadow: 0 0 8px rgba(14, 43, 188, 0.8); /* soft glow */
  animation: blinkUnderreview 1.5s infinite ease-in-out;
}

@keyframes blinkUnderreview {
  0%   { opacity: 0.2; text-shadow: 0 0 2px rgba(255,193,7,0.5); }
  50%  { opacity: 1;   text-shadow: 0 0 12px rgba(255,193,7,1); }
  100% { opacity: 0.2; text-shadow: 0 0 2px rgba(255,193,7,0.5); }
}
/* UNDER REVIEW ENDING*/





/* VARIANT AND MAIN SERIES CSS */
.variantSeries{
  background-color: #e9edf5;
  border-radius: 4px;
  padding: 7px 9px;
}


@keyframes blinkApproved {
  0%   { opacity: 0.2; text-shadow: 0 0 2px rgba(66, 213, 7, 0.5); }
  50%  { opacity: 1;   text-shadow: 0 0 12px rgb(46, 147, 9); }
  100% { opacity: 0.2; text-shadow: 0 0 2px rgba(10, 134, 39, 0.5); }
}
/* BLINK DOT APPROVED */
/* APPROVED STARTING...*/


.heading {
    background-color: #ffffff;
    border-left: 5px solid #7e76ff;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    width: 220px;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
}