<div class="container bg-white p-4 mt-4" style="border-radius: 12px;">


<!-- TABS STARTING -->
  <div>
    <ul class="nav nav-tabs fs11" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="All-tab" data-bs-toggle="tab" data-bs-target="#All" type="button" role="tab"
          aria-controls="All" aria-selected="true">All</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="underReview-tab" data-bs-toggle="tab" data-bs-target="#underReview" type="button"
          role="tab" aria-controls="underReview" aria-selected="false" (click)="getProductUnderReview()">Under
          Review</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="approved-tab" data-bs-toggle="tab" data-bs-target="#approved" type="button"
          role="tab" aria-controls="approved" aria-selected="false" (click)="getProductApproved()">Product Approved</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="error-tab" data-bs-toggle="tab" data-bs-target="#error" type="button" role="tab"
          aria-controls="error" aria-selected="false">Product Error</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="draft-tab" data-bs-toggle="tab" data-bs-target="#draft" type="button" role="tab"
          aria-controls="draft" aria-selected="false">Product Draft</button>
      </li>
    </ul>
  </div>
<!-- TABS ENDING -->





<!-- TAB DEFINATION STARTING -->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="All" role="tabpanel" aria-labelledby="All-tab">
      First Tab
    </div>





    <!-- PRODUCT UNDER REVIEW START-->
    <div class="tab-pane fade" id="underReview" role="tabpanel" aria-labelledby="underReview-tab">
      <div class="container p-4 bg-white mt-2 border-radius20">

        <div *ngIf="underReview_skeleton">
          <ngx-skeleton-loader count="10" appearance="line" />
        </div>

        <div *ngIf="!underReview_skeleton">
          <table class=" table table-sm table-hover table-bordered fs11">
            <thead>

              <tr class="text-center" style="background-color: #e7e8e8;">
                <th scope="col">id</th>
                <th scope="col">Product</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Key</th>
                <th scope="col">Date Time</th>
                <th scope="col">Product Status</th>
                <th scope="col">Variant</th>
              </tr>

            </thead>
            <tbody>
              <tr scope="row" *ngFor="let data of underReviewData; let i = index">
                <td class="p-3">{{ data.id }}</td>
                <td>
                  <img [src]="data.productMainFile" height="65" width="65" class="p-1" style="border-radius: 8px;object-fit: cover;" alt="">
                </td>
                <td>{{ data.productName }}</td>
                <td>{{ data.productKey }}</td>
                <td>{{ data.productDate }} | {{ data.productTime }}</td>
                <td>
                  <div *ngIf="data.productStatus === 'UNDER_REVIEW'" class="underReview" >
                    UNDER REVIEW
                    <i class="bi bi-dot blink-dot-underReview "></i>
                  </div>
                </td>
                
                <td>
                  <button class="small-btn" *ngIf="data.productSeries === 'MAIN'" mat-raised-button color="primary"   (click)="addVariant(data)">
                    <span class="fs11" >Add Variant</span>
                  </button>
                  <div class="text-center variantSeries"
                      *ngIf="data.productSeries === 'VARIANT'"  >
                      {{ data.productSeries }}
                  </div>
                </td>
                
              </tr>
            </tbody>
          </table>
            <mat-paginator 
              [pageSizeOptions]="[2, 4, 5, 50]" 
              [pageSize]="underReview_itemsPerPage"
              [length]="underReview_totalElements"
              [pageIndex]="underReview_currentPage"
              (page)="nextPageUnderReview($event)"
              showFirstLastButtons>
          </mat-paginator>

        </div>

      </div>
    </div>
    <!-- PRODUCT UNDER REVIEW ENDING -->








   <!-- PRODUCT APPROVED STARTING -->
    <div class="tab-pane fade" id="approved" role="tabpanel" aria-labelledby="approved-tab">
      <div class="container p-4 bg-white mt-2 border-radius20">

        <div *ngIf="approved_skeleton">
          <ngx-skeleton-loader count="10" appearance="line" />
        </div>

        <div *ngIf="!approved_skeleton">
          <table class=" table table-sm table-hover table-bordered fs11">
            <thead>

              <tr class="text-center" style="background-color: #e7e8e8;">
                <th scope="col">id</th>
                <th scope="col">Product</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Key</th>
                <th scope="col">Date Time</th>
                <th scope="col">Product Status</th>
                <th scope="col">Variant</th>
              </tr>

            </thead>
            <tbody>
              <tr scope="row" *ngFor="let data of approvedData; let i = index">
                <td class="p-3">{{ data.id }}</td>
                <td>
                  <img [src]="data.productMainFile" height="65" width="65" class="p-1" style="border-radius: 8px;object-fit: cover;" alt="">
                </td>
                <td>{{ data.productName }}</td>
                <td>{{ data.productKey }}</td>
                <td>{{ data.productDate }} | {{ data.productTime }}</td>
                <td>
                  <div  style="background-color: #F7FAFF;border-radius: 4px;padding: 2px;" >
                    {{ data.productStatus }}
                    <i class="bi bi-dot blink-dot-approved"></i>
                  </div>
                </td>
                <td>
              <button mat-raised-button color="primary" class="small-btn" >
                <span class="fs11" (click)="addVariant(data)" >Add Variant</span>
              </button>


                </td>
              </tr>
            </tbody>
          </table>
            <mat-paginator 
              [pageSizeOptions]="[2, 4, 5, 50]" 
              [pageSize]="approved_itemsPerPage"
              [length]="approved_totalElements"
              [pageIndex]="approved_currentPage"
              (page)="nextPageApproved($event)"
              showFirstLastButtons>
          </mat-paginator>

        </div>

      </div>
    </div>
   <!-- PRODUCT APPROVED ENDING -->




    <div class="tab-pane fade" id="error" role="tabpanel" aria-labelledby="error-tab">Fourth Tab</div>
    <div class="tab-pane fade" id="draft" role="tabpanel" aria-labelledby="draft-tab">Fifth Tab</div>
  </div>
<!-- TAB DEFINATION STARTING -->


</div>




























<!-- =====================MODEL OPEN========================= -->
    <!-- Modal Open-->
    <div class="modal fade" data-bs-backdrop="static" id="exampleModal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true" #variantModel>
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-body text-center ">
                    <div>
                        <!-- <i class="bi bi-rocket-takeoff fs20" style="color: #45e832;"></i> -->
                         <i class="bi bi-plus-square-dotted fs20" style="color: #45e832;"></i>
                    </div>
                    <span class="fs12">
                        <p style="line-height: 1.5;">
                            Are you sure you want to continue? Once you proceed,
                            Would you like to keep your previous product data ?
                        </p>
                    </span>

                </div>
                <div class="mb-3 text-center">
                    <button mat-raised-button class="me-2" data-bs-dismiss="modal">Close</button>
                    <button mat-raised-button color="primary" (click)="continueAddVariant()">Continue</button>
                </div>

                <div *ngIf="progressBar">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal Close-->
    <!-- =====================MODEL CLOSING======================== -->