label {
  display: block;
  margin-top: 10px;
}
.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin-top: 60px;
}

.login-card {
  max-width: 400px;
  width: 100%;
  border-radius: 10px;
}

.card {
  background-color: #ffffff;
}


/* Remove Bootstrap's default invalid (exclamation) icon Starting*/
.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none !important;
  padding-right: 8px !important; 
}
/* Remove Bootstrap's default invalid (exclamation) icon  Ending....*/




.login-bg {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;

  /* gradient background covering entire viewport */
  background: linear-gradient(180deg, #E54C86 0%, #7157C8 50%, #0D59D1 100%);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* curved overlay shape */
.login-bg::before {
  content: "";
  position: absolute;
  bottom: -150px;
  left: -150px;
  width: 150%;
  height: 80%;
  background: radial-gradient(circle at bottom left, rgba(30, 60, 180, 0.45) 0%, rgba(0, 0, 255, 0) 70%);
  border-radius: 50%;
  z-index: 0;
}
