.custom-table {
  font-size: 11px;
  border-radius: 6px !important;
  overflow: hidden;
}

.custom-table thead th {
  font-weight: normal !important;
  background-color: #e5e9ec;
  color: rgb(38, 34, 34);
  padding: 8px;
}

/* Padding 10px */
.custom-table th,
.custom-table td {
  padding: 10px !important;
  vertical-align: middle;
}


.product-image{
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 3px;
  transition: all 0.25s ease-in-out;
}

/* Hover Zoom */
.product-image:hover {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  z-index: 999;
  position: absolute;
  transform: translate(-40px, -40px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}


.custom-table td, .custom-table th {
  vertical-align: middle;
}
