<div class="container mt-3 bg-white p-3" style="border-radius: 12px;">

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="onTabChange($event)" class="fs12">









    <!-- PENDING ORDER STARTING
 #######################################################################################################
 ####################################################################################################### -->
    <mat-tab>
      <ng-template mat-tab-label>
        <span style="font-size:11px !important; font-weight:500;">
          Pending
          <span *ngIf="pendingOrders.length > 0">
            ({{ pendingOrders.length }})
          </span>
        </span>
</ng-template>


      <div class="table-wrapper mt-3">
        <table class="table table-bordered table-sm fs11 pending-order-table">
          <thead class="table-light">
            <tr>
              <th>
                <input type="checkbox" (change)="selectAll($event)">
              </th>
              <th>Order No</th>
              <th>Product</th>
              <th>Product Name</th>
              <th>Date/Time</th>
              <th>Price</th>
              <th>Qty</th>
              <th>Payment</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of pendingOrders">
              <td>
                <input type="checkbox" [(ngModel)]="order.selected" (change)="onSingleSelectChange()">
              </td>

              <td>{{ order.orderNoPerItem }}</td>

              <td class="d-flex align-items-center gap-2">
                <img [src]="order.fileUrl" height="40" width="40" style="object-fit: cover;"
                  alt="product">
              </td>


              <td>{{ order.productName }}</td>

              <td style="width: 120px;">
                <div>
                  <span class="order-date">
                    <i class="bi bi-calendar2-range"></i>
                    {{ order.orderDate }}
                  </span>
                </div>
                <div class="mt-2">
                  <span class="order-time mt-2">
                    <i class="bi bi-clock"></i>
                    {{order.orderTime}}
                  </span>
                </div>
              </td>

              <td>₹{{ order.productPrice }}</td>

              <td>{{ order.quantity }}</td>

              <td>
                <span class="pending-payment-badge">
                  {{ order.paymentState }}
                </span>
              </td>
              <td>
                <span class="pending-order-status">
                  {{ order.orderStatus }}
                </span>
              </td>
              <td>
                <div class="action-btns">
                  <button mat-raised-button color="primary" (click)="acceptOrder(order)">
                    Accept
                  </button>

                  <button mat-raised-button color="warn">
                    Reject
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <mat-paginator [pageSizeOptions]="[2, 4, 5, 50]" [pageSize]="pendingOrders_itemsPerPage"
        [length]="pendingOrders_totalElements" [pageIndex]="pendingOrders_currentPage"
        (page)="nextPagePendingProducts($event)" showFirstLastButtons>
      </mat-paginator>

      <p *ngIf="pendingOrders.length === 0" class="text-center text-muted mt-3">
        No active orders found.
      </p>

    </mat-tab>



    <!-- =====================MODEL OPEN========================= -->
    <!-- PENDING ORDER MODEL -->
    <div class="modal fade" data-bs-backdrop="static" id="exampleModal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true" #pendingOrderModel>
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-body text-center ">
                    <div>
                        <i class="bi bi-rocket-takeoff" style="color: rgb(93, 236, 45);"></i>
                    </div>
                    <span class="fs14">
                        <p style="line-height: 1.5;">
                            Are you sure you want to Accept this order ?
                        </p>
                    </span>

                </div>
                <div class="mb-3 text-center">
                    <button mat-raised-button color="primary me-2">Accept</button>
                    <button mat-raised-button data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- PENDING ORDER MODEL -->
    <!-- =====================MODEL CLOSING======================== -->



<!-- PENDING ORDER ENDING
 #######################################################################################################
 ####################################################################################################### -->












































   <!-- CONFIRMED ORDER STARTING
 #######################################################################################################
 ####################################################################################################### -->

    <mat-tab label="Conformed Orders">
      <ng-template mat-tab-label class="fs11">
        <span style="font-size:11px !important; font-weight:500;">
          Orders
          <span *ngIf="pendingOrders.length > 0">
            ({{ pendingOrders.length }})
          </span>
        </span>
      </ng-template>

      <span style="font-size:11px !important; font-weight:500;">
          Pending
          <span *ngIf="pendingOrders.length > 0">
            ({{ pendingOrders.length }})
          </span>
        </span>

      <div class="table-wrapper mt-3">
        <table class="table table-bordered table-sm fs11 confirmed-order-table">
          <thead class="table-light">
            <tr>
              <th>Order No</th>
              <th>Product</th>
              <th>Product Name</th>
              <th>Date/Time</th>
              <th>Price</th>
              <th>Qty</th>
              <th>Payment</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of confirmedOrders">

              <td>{{ order.orderNoPerItem }}</td>

              <td class="d-flex align-items-center gap-2">
                <img [src]="order.fileUrl" class="order-img" height="40" width="40" style="object-fit: cover;"
                  alt="product">
              </td>


              <td>{{ order.productName }}</td>

              <td style="width: 120px;">
                <div>
                  <span class="order-date">
                    <i class="bi bi-calendar2-range"></i>
                    {{ order.orderDate }}
                  </span>
                </div>
                <div class="mt-2">
                  <span class="order-time mt-2">
                    <i class="bi bi-clock"></i>
                    {{order.orderTime}}
                  </span>
                </div>
              </td>

              <td>₹{{ order.productPrice }}</td>

              <td>{{ order.quantity }}</td>

              <td>
                <span class="confirmed-payment-badge">
                  {{ order.paymentState }}
                </span>
              </td>
              <td style="width: 130px;">
                <span class="confirmed-order-status">
                  <i class="bi bi-check2-circle"></i>
                  {{ order.orderStatus }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <mat-paginator [pageSizeOptions]="[2, 4, 5, 50]" [pageSize]="confirmedOrders_itemsPerPage"
        [length]="confirmedOrders_totalElements" [pageIndex]="confirmedOrders_currentPage"
        (page)="nextPageConfirmedProducts($event)" showFirstLastButtons>
      </mat-paginator>

      <p *ngIf="confirmedOrders.length === 0" class="text-center text-muted mt-3">
        No active orders found.
      </p>
    </mat-tab>

 <!-- CONFIRMED ORDER ENDING
 #######################################################################################################
 ####################################################################################################### -->







































   <!-- SHIPPED ORDER STARTING
 #######################################################################################################
 ####################################################################################################### -->

    <mat-tab label="Conformed Orders">
      <ng-template mat-tab-label class="fs11">
        <span style="font-size:11px !important; font-weight:500;">
          Shipped
          <span *ngIf="pendingOrders.length > 0">
            ({{ pendingOrders.length }})
          </span>
        </span>
      </ng-template>

      <div class="table-wrapper mt-3">
        <table class="table table-bordered table-sm fs11 shipped-order-table">
          <thead class="table-light">
            <tr>
              <th>Order No</th>
              <th>Product</th>
              <th>Product Name</th>
              <th>Date/Time</th>
              <th>Price</th>
              <th>Qty</th>
              <th>Payment</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of shippedOrders">

              <td>{{ order.orderNoPerItem }}</td>

              <td class="d-flex align-items-center gap-2">
                <img [src]="order.fileUrl" class="order-img" height="40" width="40" style="object-fit: cover;"
                  alt="product">
              </td>


              <td>{{ order.productName }}</td>

              <td style="width: 120px;">
                <div>
                  <span class="order-date">
                    <i class="bi bi-calendar2-range"></i>
                    {{ order.orderDate }}
                  </span>
                </div>
                <div class="mt-2">
                  <span class="order-time mt-2">
                    <i class="bi bi-clock"></i>
                    {{order.orderTime}}
                  </span>
                </div>
              </td>

              <td>₹{{ order.productPrice }}</td>

              <td>{{ order.quantity }}</td>

              <td>
                <span class="shipped-payment-badge">
                  {{ order.paymentState }}
                </span>
              </td>
              <td style="width: 130px;">
                <span class="shipped-order-status">
                  <i class="bi bi-truck truck-move"></i>
                  {{ order.orderStatus }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <mat-paginator [pageSizeOptions]="[2, 4, 5, 50]" [pageSize]="shippedOrders_itemsPerPage"
        [length]="shippedOrders_totalElements" [pageIndex]="shippedOrders_currentPage"
        (page)="nextPageShippedProducts($event)" showFirstLastButtons>
      </mat-paginator>

      <p *ngIf="shippedOrders.length === 0" class="text-center text-muted mt-3">
        No active orders found.
      </p>
    </mat-tab>

 <!-- SHIPPED ORDER ENDING
 #######################################################################################################
 ####################################################################################################### -->








































 

   <!-- DELIVERED ORDER STARTING
 #######################################################################################################
 ####################################################################################################### -->

    <mat-tab label="Conformed Orders">
      <ng-template mat-tab-label class="fs11">
        <span style="font-size:11px !important; font-weight:500;">
          Delivered
          <span *ngIf="pendingOrders.length > 0">
            ({{ pendingOrders.length }})
          </span>
        </span>
      </ng-template>

      <div class="table-wrapper mt-3">
        <table class="table table-bordered table-sm fs11 delivered-order-table">
          <thead class="table-light">
            <tr>
              <th>Order No</th>
              <th>Product</th>
              <th>Product Name</th>
              <th>Date/Time</th>
              <th>Price</th>
              <th>Qty</th>
              <th>Payment</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of deliveredOrders">

              <td>{{ order.orderNoPerItem }}</td>

              <td class="d-flex align-items-center gap-2">
                <img [src]="order.fileUrl" class="order-img" height="40" width="40" style="object-fit: cover;"
                  alt="product">
              </td>


              <td>{{ order.productName }}</td>

              <td style="width: 120px;">
                <div>
                  <span class="order-date">
                    <i class="bi bi-calendar2-range"></i>
                    {{ order.orderDate }}
                  </span>
                </div>
                <div class="mt-2">
                  <span class="order-time mt-2">
                    <i class="bi bi-clock"></i>
                    {{order.orderTime}}
                  </span>
                </div>
              </td>

              <td>₹{{ order.productPrice }}</td>

              <td>{{ order.quantity }}</td>

              <td>
                <span class="delivered-payment-badge">
                  {{ order.paymentState }}
                </span>
              </td>
              <td style="width: 130px;">
                <span class="delivered-order-status">
                  <i class="bi bi-check2-circle"></i>
                  {{ order.orderStatus }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <mat-paginator [pageSizeOptions]="[2, 4, 5, 50]" [pageSize]="deliveredOrders_itemsPerPage"
        [length]="deliveredOrders_totalElements" [pageIndex]="shippedOrders_currentPage"
        (page)="nextPageDeliveredProducts($event)" showFirstLastButtons>
      </mat-paginator>

      <p *ngIf="deliveredOrders.length === 0" class="text-center text-muted mt-3">
        No active orders found.
      </p>
    </mat-tab>

 <!-- DELIVERED ORDER ENDING
 #######################################################################################################
 ####################################################################################################### -->

































 
   <!-- CANCELLED ORDER STARTING
 #######################################################################################################
 ####################################################################################################### -->

    <mat-tab label="Conformed Orders">
      <ng-template mat-tab-label class="fs11">
        <span style="font-size:11px !important; font-weight:500;">
           Cancelled
          <span *ngIf="pendingOrders.length > 0">
            ({{ pendingOrders.length }})
          </span>
        </span>
      </ng-template>

      <div class="table-wrapper mt-3">
        <table class="table table-bordered table-sm fs11 cancelled-order-table">
          <thead class="table-light">
            <tr>
              <th>Order No</th>
              <th>Product</th>
              <th>Product Name</th>
              <th>Date/Time</th>
              <th>Price</th>
              <th>Qty</th>
              <th>Payment</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of cancelledOrders">

              <td>{{ order.orderNoPerItem }}</td>

              <td class="d-flex align-items-center gap-2">
                <img [src]="order.fileUrl" class="order-img" height="40" width="40" style="object-fit: cover;"
                  alt="product">
              </td>


              <td>{{ order.productName }}</td>

              <td style="width: 120px;">
                <div>
                  <span class="order-date">
                    <i class="bi bi-calendar2-range"></i>
                    {{ order.orderDate }}
                  </span>
                </div>
                <div class="mt-2">
                  <span class="order-time mt-2">
                    <i class="bi bi-clock"></i>
                    {{order.orderTime}}
                  </span>
                </div>
              </td>

              <td>₹{{ order.productPrice }}</td>

              <td>{{ order.quantity }}</td>

              <td>
                <span class="cancelled-payment-badge">
                  {{ order.paymentState }}
                </span>
              </td>
              <td style="width: 130px;">
                <span class="cancelled-order-status">
                  <i class="bi bi-x"></i>
                  {{ order.orderStatus }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <mat-paginator [pageSizeOptions]="[2, 4, 5, 50]" [pageSize]="cancelledOrders_itemsPerPage"
        [length]="cancelledOrders_totalElements" [pageIndex]="shippedOrders_currentPage"
        (page)="nextPageCancelledProducts($event)" showFirstLastButtons>
      </mat-paginator>

      <p *ngIf="cancelledOrders.length === 0" class="text-center text-muted mt-3">
        No active orders found.
      </p>
    </mat-tab>

 <!-- CANCELLED ORDER ENDING
 #######################################################################################################
 ####################################################################################################### -->

















  </mat-tab-group>

</div>