.example-spacer {
  flex: 1 1 auto;
}

.example-spacer {
  flex: 1 1 auto;
}

.sidebar {
  width: auto;
  height: 100vh;
  background-color: #ebf5fb;
  padding: 20px;
}

.sidebar .submenu.show {
  display: block;
}

.submenu-item {
  font-size: 14px;
}

.sidebar .nav-link {
  border-radius: 5px; /* Default same radius */
  font-size: 12px;
}


.sidebar .nav-link:hover {
  /* background-color: #e9ecef; */
  background-color: white;
  color: black;
  border-radius: 5px;
}
.nav-link{
  margin-top: 3px;
}

/* NAV LINK ACTIVE STYLE IMPORTANT ACTIVE YAHI SE HO RHA HAIN */
.nav-link.active {
  background-color: #ffffff !important;
  color: #000 !important; 
  font-weight: 400;
  border-radius: 5px; 
}
/* NAV LINK ACTIVE STYLE IMPORTANT ACTIVE YAHI SE HO RHA HAIN */




.arrow-icon {
  transition: transform 0.3s;
  margin-left: auto;
}

.arrow-icon.rotate {
  transform: rotate(90deg);
}

.unOrderList {
  list-style: none;
}

.floatRit {
  float: right;
}

.navExpand {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.brandName{
  font-size: 22px;
}

/* MAKE SIDEBAR */

.sidebar {
  width: 20%;
  background-color: #06064D;
  height: 100%;
  overflow: scroll;
  position: fixed;
  font-size: 13px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: white;
}

.sidebar a:hover {
  background-color: #e2e2e2;
  border-radius: 12px;
}

.sidebar .divider {
  height: .5px;
  width: 100%;
  background-color: #e2e2e2;
  margin-top: 10px;
}

.content {
  margin-left: 20%;
  width: 78%;
  transition: margin-left 0.3s;
  display: inline-block;
  /* margin-top: 1%; */
}

.content-expanded {
  margin-left: 4%;
  margin-right: 4%;
  width: 92%;
}

.sidebar-extend-min {
  display: none;
}


ul li a.active {
  /* background-color: #e9ecef; */
  background-color: #7171f9;
  color: white;
  border-radius: 5px;
}

.example-spacer {
  flex: 1 1 auto;
}



@media only screen and (max-width:600px) {
  .sidebar {
    display: none;
    width: 100% !important;
    background-color: white;
    height: 100%;
    position: fixed;
    padding-top: 20px;
  }

  .content {
    margin-left: 0% !important;

  }


}


/* TIME LIVE START */
.clock {
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  background: #f0f0f0;
  padding: 8px;
  border-radius: 6px;
  color: #1f3493;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 15px;
}

/* Content */

.loadDynamic {
  width: 100%;
  min-height: 800px;
  border-radius: 12px;
}


.rotate-arrow {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}


/* STROKED BUTTON STRTING */
.strokedbtn{
  height: 30px;
}
/* STROKED BUTTON STRTING ENDING....*/







/* PROFILE BUTTON */
/* Small Button */
.custom-btn {
  font-size: 11px;
  padding: 4px 8px;
  color: #8B6BF6;
  background: transparent;
  border: none;
}

.custom-btn:focus {
  box-shadow: none;
}

/* Smooth Animation */
.custom-menu {
  font-size: 11px;
  min-width: 140px;
  padding: 1px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 8px 20px rgba(14, 13, 13, 0.08);
  border: 1px solid #c5c5c5;   /* Button border */
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.25s ease;
}

/* Bootstrap automatically adds .show */
.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
}

/* Hover rounded items */
.custom-item {
  border-radius: 6px;
  margin: 2px 4px;
  padding: 6px 10px;
  transition: all 0.2s ease;
}

.custom-item:hover {
  background-color: #f3f0ff;
}
/* PROFILE BUTTON ENDING....*/

















/* ==================================================KEY FRAMES================================================== */

@keyframes scale {
  0% {
    transform: scaleX(1);
  }

  25% {
    transform: scaleX(0.4);
  }

  50% {
    transform: scaleX(1);
  }

  75% {
    transform: scaleX(0.9);
  }

  100% {
    transform: scaleX(1);
  }
}

.bouncing-text:after {
  left: 57px;
  animation: scale 1s linear infinite .1s;
}

.shadow:before {
  left: 116px;
  animation: scale 1s linear infinite .2s;
}

.shadow:after {
  left: 175px;
  animation: scale 1s linear infinite .3s;
}

.shadow-two:before {
  left: 232px;
  animation: scale 1s linear infinite .4s;
}

.shadow-two:after {
  left: 285px;
  animation: scale 1s linear infinite .5s;
}




