.category-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  background: #fff;
  border: 1px solid #f4ebeb;
  border-radius: 12px;
  overflow-x: auto;
  padding: 5px;
}

.category-sidebar,
.category-submenu {
  min-width: 200px;
  max-height: 400px;
  overflow-y: auto;
  border-right: 1px solid #eee;
}

.category-sidebar {
  margin-left: 0; /* main category left se stick rahe */
}

.category-submenu {
  margin-left: 10px;  /* <-- submenu thoda left se shift */
}

.category-item,
.subcategory-item {
  padding: 10px 12px;
  cursor: pointer;
  transition: all 0.2s;
  border-bottom: 1px solid #eee;   /* line after each */
}

.category-item:hover,
.subcategory-item:hover {
  background-color: #f4f4f4;
}

.category-item.active,
.subcategory-item.active {
  background-color: #402cc7;
  color: #fff;
  font-weight: 500;
  position: relative;
}

.category-item.active::after,
.subcategory-item.active::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-left: 8px solid #402cc7;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
