<div class="container mt-4 mb-2 ">

  <div class="heading">
    <i class="bi bi-list-check mx-2"></i>
    Category Selection
  </div>
</div>

<div class="category-container d-flex mt-4">
  <!-- Root Categories -->
  <div class="category-sidebar">
    <ul class="list-unstyled m-0 p-0">
      <li class="category-item"
          *ngFor="let item of rootCategories"
          [class.active]="rootCategory === item.categoryName"
          (click)="setRootCategory(item.categoryName, item.id)">
        {{ item.categoryName }}
      </li>
    </ul>
  </div>

  <!-- Sub Categories -->
  <div class="category-submenu" *ngIf="subCategories?.length > 0">
    <ul class="list-unstyled m-0 p-0">
      <li class="subcategory-item"
          *ngFor="let sub of subCategories"
          [class.active]="subCategory?.id === sub.id"
          (click)="setActiveSubCategory(sub)">
        {{ sub.categoryName }}
      </li>
    </ul>
  </div>

  <!-- Type Categories -->
  <div class="category-submenu" *ngIf="typeCategories?.length > 0">
    <ul class="list-unstyled m-0 p-0">
      <li class="subcategory-item"
          *ngFor="let type of typeCategories"
          [class.active]="typeCategory?.id === type.id"
          (click)="setActiveTypeCategory(type)">
        {{ type.categoryName }}
      </li>
    </ul>
  </div>

  <!-- Variant Categories -->
  <div class="category-submenu" *ngIf="variantCategories?.length > 0">
    <ul class="list-unstyled m-0 p-0">
      <li class="subcategory-item"
          *ngFor="let variant of variantCategories"
          [class.active]="variantCategory?.id === variant.id"
          (click)="setActiveVariantCategory(variant)">
        {{ variant.categoryName }}
      </li>
    </ul>
  </div>



  <!-- Final Selection -->
  <div *ngIf="finalCategory">
  
    <div class="container text-center mt-4">
      <div class="card border-0 text-center" style="width: 12rem;">
  
        <div>
          <p class="fs11">
            Final: {{ rootCategory }}
            <i class="bi bi-chevron-right"></i>
            {{ subCategory?.categoryName }}
            <i class="bi bi-chevron-right"></i>
            {{ typeCategory?.categoryName }}
            <i class="bi bi-chevron-right"></i>
            {{ variantCategory?.categoryName }}
          </p>
        </div>
  
        <div>
          <img [src]="variantCategory.categoryFile" class="card-img-top selectedCategory-file"
            [alt]="variantCategory.categoryName">
        </div>
  
        <div class="card-body">
          <p class="card-text">{{variantCategory.categoryName}}</p>
        </div>
  
        <div class="text-center mb-4">
          <button mat-raised-button color="primary" class="scButton" [disabled]="scButton" (click)="openModal()">
            Save & Continue
          </button>
        </div>
      </div>
    </div>
  </div>


</div>




    <!-- Model Starting -->
    <div class="modal fade" id="categorySelectionModel" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered custom-modal">
        <div class="modal-content">
          <div class="modal-body">
            <div class="text-center">
              <div>
                <i class="bi bi-rocket-takeoff fs20" style="color: #45e832;"></i>
              </div>
              <span class="fs12">
                Are , you sure you went to Proceed
              </span>
          </div>
            <div class="d-flex justify-content-center gap-2 p-1 mt-2">
              <button mat-raised-button  (click)="closeModal()">Close</button>
              <button mat-raised-button color="primary" (click)="proceedWithProduct()">Save & Continue</button>
              
            </div>
          </div>
        </div>
      </div>
    </div>
     <!-- Modal Ending  -->
